
    <h1>counter</h1>

   <ul>
       {{#each listOfUsers}}
<li>
      <a href="/counter/{{this.name}}">{{this.name}}</a>
      </li>
     
    
      {{/each}}
   </ul>

   <div class="previousBtn">
<a href="/">Previous</a>
</div>