<h1>Greetings</h1>

<div>{{message}}</div>



<form action="/greet" method="post">

{{#if messages.info}}
<div class="entry">
    <h4> {{messages.info}}</h4>
</div>
{{/if}}

<div class="textboxName">
     <input type="textbox" placeholder="enter name" name="names" >
</div>

<br>

<div>
    <input type="radio" name="language" value="xhosa" > Xhosa

    <input type="radio" name="language" value="english"> English

    <input type="radio" name="language" value="sotho"> Sotho

</div>

<br>

<button class="button-primary" type="submit" name="button">GREET</button>



</form>

<br>

 <div class="counter"> Counter
    
    {{counter}}
</div>

<br>

<div class="greetedBtn">
<a href="/greeted">Names Greeted</a>
</div>

<br/>


    <button class="resetBtn" name="button" type="button">Reset</button>

