<h1>Greetings Web App</h1>

<div>{{message}}</div>



<form action="/greet" method="post">

    {{#if messages.info}}
    <div class="entry">
        <h4> {{messages.info}}</h4>
    </div>
    {{/if}}

    {{#if messages.success}}
    <div class="success">
        <h4> {{messages.success}}</h4>
    </div>
    {{/if}}

    <div class="textboxName">
        <input type="text" placeholder="enter name" name="names"
         onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)";
       
        >
        
    </div>

    <br>

    <div>
        <input type="radio" name="language" value="xhosa"> Xhosa

        <input type="radio" name="language" value="english"> English

        <input type="radio" name="language" value="sotho"> Sotho

    </div>

    <br>

    <button class="button-primary" type="submit" name="button">GREET</button>



</form>

<br>

<div class="counter"> Counter

    {{counter}}
</div>

<br>

<div class="greetedBtn">
    <a href="/greeted">Names Greeted</a>
</div>

<br />

<a href="/reset">
    <button class="resetBtn" on type="submit" name="button" value="reset">Reset
    </button>
</a>