body {
    background-color: black;
  }

 h1 {
     color : gold
 }

 div {

    color: gold;
    width: 300px;
    margin: auto;
 }

 .button-primary {
    background-color: white; 
    color: black; 
    border: 12px gold;
    border-radius: 12px;
    font-size: 12px;
  }
  
  .button-primary:hover {
    background-color: gold;
    color: black;
  }

  .greetedBtn a {
    background-color: white; 
    color: black; 
    border: 12px gold;
    border-radius: 4px;
    font-size: 16px;
  }

  .greetedBtn a:hover {
    background-color: gold;
    color: black;
  }

  .resetBtn{
    background-color: white; 
    color: black; 
    border: 12px gold;
    border-radius: 4px;
    
  }

  .resetBtn :hover {
    background-color: gold;
    color: black;
  }

  .entry{
      color: crimson;
  }
