body {
    background-color: black
}

 h1 {
     color : gold
 }

 div {

    color: gold;
    width: 300px;
    margin: auto;
 }

 .button-primary {
    background-color: white; 
    color: black; 
    border: 12px gold;
    border-radius: 12px;
    padding: 3px;
  }
  
  .button-primary:hover {
    background-color: gold;
    color: black;
  }

  .greetedBtn a {
    background-color: white; 
    color: black; 
    border: 12px gold;
    border-radius: 12px;
    padding: 3px;
    text-decoration: none
    
  }

  .greetedBtn a:hover {
    background-color: gold;
    color: black;
  }

  .resetBtn{
    background-color: white; 
    color: black; 
    border: 12px gold;
    border-radius: 12px;
    font-size: 16px;
    padding: 3px;
    text-decoration: none
  }

  .resetBtn :hover {
    background-color: gold;
    color: black;
  }

  .entry{
      color: crimson;
  }

  .previousBtn a {
    background-color: white; 
    color: black; 
    border: 12px gold;
    border-radius: 12px;
    font-size: 16px;
    padding: 3px;
    text-decoration: none
  }

  .previousBtn a:hover {
    background-color: gold;
    color: black;
  }

  a {
    color: chartreuse;
    text-decoration: none;
  }


  .homeBtn a {
    background-color: white; 
    color: black; 
    border: 12px gold;
    border-radius: 12px;
    font-size: 16px;
    padding: 3px;
    text-decoration: none
  }

  .homeBtn a:hover {
    background-color: gold;
    color: black;
  }

  .container {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }

  